*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 5vw;
    background-image: url("../images/bg-body.png");
    background-repeat: repeat;
    background-size: 200px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 180px;
    border-radius: 50%;
    border: 1px darkgrey solid;
}

.toggle-nav span {
    margin: 2vh auto;
    font-size: 2em;
    color: black;
}

.main-nav ul li{
    box-sizing: border-box;
    list-style: none;
    background-color: darkgrey;
    margin-top: 1vh;
    padding: 1vh;
    width: 90vw;
    text-align: center;
}

.main-nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

img {
    width: 50vw;
}