@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 2vw 2vw 0 2vw;
    background-image: url("../images/bg-body.png");
    background-repeat: repeat;
    background-size: 200px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    width: 180px;
    border-radius: 50%;
    border: 1px darkgrey solid;
}

.toggle-nav span {
    margin: 20px auto 0px auto;
    font-size: 2em;
    color: black;
}
.mynav {
    margin: 20px auto;
    width: 100%;
}

.mynav ul li{
    list-style: none;
    background-color: rgb(99, 99, 99);
    margin-bottom: 10px;
    padding: 1%;
    width: 100%;
    text-align: center;
}

.mynav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    color: white;
}

.banner {
    display: none;
}

.vip-products {
    margin: 20px auto 40px auto;
}

.product {
    margin-bottom: 20px;
}

.photo-container {
    position: relative;
}

.photo {
    width: 100%;
}

.special {
    position: absolute;
    width: 18%;
    top: 0%;
    right: 2%;
}

.zoom {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0%;
    text-decoration: none;
    font-size: 1em;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin: 5px auto;
}

.product p {
    margin-bottom: 10px;
    font-size: 0.8em;
}

.more {
    text-decoration: none;
    background-color: rgb(99, 99, 99);
    color: white;
    padding: 2%;
}

@media (min-width: 481px) {

    a.toggle-nav {
        display: none;
    }

    header .mynav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }    

    header .mynav ul li{
        width: 15%;
        margin-bottom: 0;
    }

    .banner {
        display: block;
        width: 100%;
    }

    .banner img {
        width: 100%;
    }

    .vip-products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        width: 48%;
    }

}

@media (min-width: 1024px) {

    .product {
        width: 30%;
    }

    .main-footer {
        background-color: red;
        padding-bottom: 100px;
        border-radius: 5% 5% 0 0;
        display: flex;
        justify-content: center;
    }

    .main-footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 40px;
        margin-left: -1px;
        width: 60%;
    }    

    .main-footer ul li{
        width: 15%;
        margin-bottom: 0;
        background-color: transparent;
        font-size: 0.8em;
        padding: 0 0 0 2%;
        border-left: 2px solid white;

    }

    /* li + li::before {
        content: " | ";
    } */
    
    .main-footer ul li a{
        text-transform: capitalize;
    }
    
}

